
<app-header [showMenu]="true " title="Perfil"></app-header>
<ion-content class="ion-paddin-top ion-text-center">
  <ion-avatar>
    <img src="assets/Elx.png" />
  </ion-avatar>

  <!-- <ion-button class="photo-btn"  expand="block" fill="clear" shape="round"> -->
<!-- <ion-icon name="camera-outline"></ion-icon> -->
  <!-- </ion-button> -->

  <h2>{{user().name}}</h2>
  <!-- <div>tecnico</div> -->

  <ion-item button detail>
    <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
    <ion-label>Editar Perfil</ion-label>
  </ion-item>

  <ion-item button detail>
    <ion-icon  color="primary" slot="start" name="document-outline"></ion-icon>
    <ion-label>Terminos y Condiciones</ion-label>
  </ion-item>

</ion-content>
