<app-header [isModal]="true" [title]="product ? 'Actualizar Tool' : 'Agregar Tool'"></app-header>

<ion-content>
  <form formGoup="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <!-- ========= si existe una Imagen============ -->
    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>

    <!-- ========= si existe una Imagen============ -->
     <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-out-line"></ion-icon>

    <br>
     <!-- ========= tomar o seleccionar ============ -->
    <ion-button (click)="takeImage()" mode="ios" size="small" shape="round" >
      Tomar/Seleccionar
    </ion-button>

    <!-- =========Tool============ -->
    <app-custom-input autocomplete="tool" [control]="form.controls.tool" type="text" label="Tool"></app-custom-input>

    <!-- crea input tool-->

    <div class="validators" *ngIf="form.controls.tool.errors && form.controls.tool.touched">
      <div *ngIf="form.controls.tool.errors?.['required']">
        El numero de Tool es?
      </div>
      <div *ngIf="form.controls.tool.errors?.['min']">
        El nombre deve contener al menos 3 caracteres
      </div>
    </div>

    <!-- =========Prensa============ -->
    <app-custom-input autocomplete="press" [control]="form.controls.press" type="text" label="Prensa"></app-custom-input>

    <!-- crea input prensa-->

    <div class="validators" *ngIf="form.controls.press.errors && form.controls.press.touched">
      <div *ngIf="form.controls.press.errors?.['required']">
        Ultima prensa que corrio?
      </div>
      <div *ngIf="form.controls.press.errors?.['min']">
        El nombre deve contener al menos 3 caracteres
      </div>
    </div>

    <!-- =========Descripcion============ -->
    <app-custom-input autocomplete="Descripción" [control]="form.controls.description" type="text" label="Descripción de falla"></app-custom-input>

    <!-- crea input Descripcion-->

    <div class="validators" *ngIf="form.controls.description">
      <div *ngIf="form.controls.description.errors?.['required']">
        
      </div>
      <div *ngIf="form.controls.description.errors?.['minLenght']">
        El nombre deve contener al menos 20 caracteres
      </div>
    </div>

    <!-- =========Fecha en que se bajo============ -->
    <app-custom-input autocomplete="Fecha en que bajo el tool" [control]="form.controls.breakDownDate" type="Date" label="Fecha en que bajo el tool"></app-custom-input>

    <!-- crea input fecha baja-->

    <div class="validators" *ngIf="form.controls.breakDownDate">
      <div *ngIf="form.controls.breakDownDate">
        
      </div>
      <div *ngIf="form.controls.breakDownDate.errors?.['minLenght']">
        Revisar la fecha correctamente
      </div>
    </div>

    <!-- =========Turno baja============ -->
    <app-custom-input autocomplete="Turno en que bajo el tool" [control]="form.controls.breakDownTurn" type="text" label="Turno en que baja"></app-custom-input>

    <!-- crea input turno de baja-->

    <div class="validators" *ngIf="form.controls.breakDownTurn.errors && form.controls.breakDownTurn.touched">
      <div *ngIf="form.controls.breakDownDate">
        
      </div>
      <div *ngIf="form.controls.breakDownTurn.errors?.['min']">
        El nombre deve contener al menos 3 caracteres
      </div>
    </div>

    <!-- ========= Status ========== -->
    <app-custom-input autocomplete="status" [control]="form.controls.status" type="text"
      label="Status"></app-custom-input>

    <!-- crea input Status-->

    <div class="validators" *ngIf="form.controls.status.errors && form.controls.status.touched">
      <div *ngIf="form.controls.status.errors?.['required']">
        Elija el Status
      </div>
      <div *ngIf="form.controls.status.errors?.['minLenght']">
        La falla deve contener al menos 5 caracteres
      </div>
    </div>


      <!-- ========= Fecha de entrega======= -->
      <app-custom-input autocomplete="requiredDate" [control]="form.controls.requiredDate" input type="Date"
        label="Fecha de entrega del Tool"></app-custom-input>

      <!-- crea input requiredDate -->

      <div class="validators" *ngIf="form.controls.requiredDate && form.controls.requiredDate.touched">
        <div *ngIf="form.controls.requiredDate.errors?.['required']">El campo es requerido</div>
        <div *ngIf="form.controls.requiredDate.errors?.['']">La fecha deve ser especidifcadas</div>
      </div>

      <!-- ========= hora de entrega======= -->
      <app-custom-input autocomplete="requiredhour" [control]="form.controls.requiredhour" input type="hours"
        label="Hora de entrega del Tool"></app-custom-input>

      <!-- crea input requiredhour -->

      <div class="validators" *ngIf="form.controls.requiredhour && form.controls.requiredhour.touched">
        <div *ngIf="form.controls.requiredhour.errors?.['required']">El campo es requerido</div>
        <div *ngIf="form.controls.requiredhour.errors?.['']">La cantidad de horas deven ser especidifcadas</div>
      </div>

      

      <!-- =========Comentarios============ -->
    <app-custom-input autocomplete="coments" [control]="form.controls.coments" type="text" label="Detalles de reparacion"></app-custom-input>

    <!-- crea input Comentarios-->

    <div class="validators" *ngIf="form.controls.coments">
      <div *ngIf="form.controls.coments.errors?.['required']">
        
      </div>
      <div *ngIf="form.controls.coments.errors?.['minLenght']">
        El nombre deve contener al menos 20 caracteres
      </div>
    </div>



      <ion-button mode="ios" class="ion-no-margin" type="submit" [disabled]="form.invalid">
        {{product ? 'Actualizar Tool' : 'Agregar Tool'}}
        <ion-icon slot="end" name="checkmark-circle-aoutline"></ion-icon>
      </ion-button>


  </form>


</ion-content>
