<app-header [isModal]="true" [title]="product ? 'Actualizar Tool' : 'Agregar Tool'"></app-header>

<ion-content>
  <form formGoup="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <!-- ========= si existe una Imagen============ -->
    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>

    <!-- ========= si existe una Imagen============ -->
     <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-out-line"></ion-icon>

    <br>
     <!-- ========= tomar o seleccionar ============ -->
    <ion-button (click)="takeImage()" mode="ios" size="small" shape="round" >
      Tomar/Seleccionar
    </ion-button>

    <!-- =========Tool============ -->
    <app-custom-input autocomplete="name" [control]="form.controls.name" type="text" label="Tool"></app-custom-input>

    <!-- crea input nombre-->

    <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
      <div *ngIf="form.controls.name.errors?.['required']">
        El numero de Tool es
      </div>
      <div *ngIf="form.controls.name.errors?.['min']">
        El nombre deve contener al menos 3 caracteres
      </div>
    </div>

    <!-- =========Prensa============ -->
    <app-custom-input autocomplete="name" [control]="form.controls.press" type="text" label="Prensa"></app-custom-input>

    <!-- crea input prensa-->

    <div class="validators" *ngIf="form.controls.press.errors && form.controls.press.touched">
      <div *ngIf="form.controls.press.errors?.['required']">
        Ultima prensa que corrio
      </div>
      <div *ngIf="form.controls.press.errors?.['min']">
        El nombre deve contener al menos 3 caracteres
      </div>
    </div>

    <!-- =========Descripcion============ -->
    <app-custom-input autocomplete="name" [control]="form.controls.description" type="text" label="Prensa"></app-custom-input>

    <!-- crea input Descripcion-->

    <div class="validators" *ngIf="form.controls.description">
      <div *ngIf="form.controls.name.errors?.['required']">
        Descripcion
      </div>
      <div *ngIf="form.controls.description.errors?.['minLenght']">
        El nombre deve contener al menos 3 caracteres
      </div>
    </div>

    <!-- =========Fecha eb que se bajo============ -->
    <app-custom-input autocomplete="name" [control]="form.controls.fechabaja" type="text" label="Prensa"></app-custom-input>

    <!-- crea input fecha baja-->

    <div class="validators" *ngIf="form.controls.fechabaja">
      <div *ngIf="form.controls.name.errors?.['required']">
        Fecha en que se bajo
      </div>
      <div *ngIf="form.controls.name.errors?.['minLenght']">
        El nombre deve contener al menos 3 caracteres
      </div>
    </div>

    <!-- =========Turno baja============ -->
    <app-custom-input autocomplete="name" [control]="form.controls.turnobaja" type="text" label="Prensa"></app-custom-input>

    <!-- crea input turno de baja-->

    <div class="validators" *ngIf="form.controls.turnobaja.errors && form.controls.turnobaja.touched">
      <div *ngIf="form.controls.name.errors?.['required']">
        Turno  en que se bajo el Tool
      </div>
      <div *ngIf="form.controls.turnobaja.errors?.['minLenght']">
        El nombre deve contener al menos 3 caracteres
      </div>
    </div>

    <!-- ========= Status ======== falla ==== -->
    <app-custom-input autocomplete="status" [control]="form.controls.status" type="text"
      label="Razon de falla"></app-custom-input>

    <!-- crea input Status-->

    <div class="validators" *ngIf="form.controls.status.errors && form.controls.status.touched">
      <div *ngIf="form.controls.status.errors?.['required']">
        Razon de falla
      </div>
      <div *ngIf="form.controls.status.errors?.['minLenght']">
        La falla deve contener al menos 5 caracteres
      </div>
    </div>


      <!-- ========= Fecha de entrega======= -->
      <app-custom-input autocomplete="fechaEntrega" [control]="form.controls.fechaEntrega" input type="Date"
        label="Fecha de entrega del Tool"></app-custom-input>

      <!-- crea input fechaEntrega -->

      <div class="validators" *ngIf="form.controls.fechaEntrega && form.controls.fechaEntrega.touched">
        <div *ngIf="form.controls.fechaEntrega.errors?.['required']">El campo es requerido</div>
        <div *ngIf="form.controls.fechaEntrega.errors?.['']">La cantidad de horas deven ser especidifcadas</div>
      </div>



      <ion-button mode="ios" class="ion-no-margin" type="submit" [disabled]="form.invalid">
        {{product ? 'Actualizar Tool' : 'Agregar Tool'}}
        <ion-icon slot="end" name="checkmark-circle-aoutline"></ion-icon>
      </ion-button>


  </form>


</ion-content>
